body{
  background-color: #fff4e1;
}

hr{
  border-color: #9ddcdc;
  border-style: none;
  border-top-style: dotted; /* Originally set to "border-style:inset" by browser default */
  border-width: 3px;
  width: 5%; /* Using percentage will be more ideal for different screen(phone/desktop) than using pixel*/
  /*height: 2px; /* Needs this if border-style is set to none */
}

h1{
  color: #e67a7a;
}

h3{
  color: #e67a7a;
}
